<div class="container">
  <div class="ui card">
    <div>
      <h1>Team Generator</h1>
      <ul class="list">
        <li *ngFor="let member of allMembers">
          <span class="list-line-item">
            {{ member | titlecase }}
            <button class="delete-btn" (click)="deleteName(member)">
              Delete
            </button>
          </span>
        </li>
      </ul>
    </div>
    <div class="add-members-container">
      <input
        #newMemberInput
        type="text"
        placeholder="Name"
        (input)="onInput(newMemberInput.value)"
        [value]="member"
        (keyup.enter)="addMember()"
      />
      <button type="submit" (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input
        #numOfTeamsInput
        type="number"
        placeholder="# of teams"
        (input)="numberOfTeamsInput(numOfTeamsInput.value)"
        [value]="numOfTeams"
        (keyup.enter)="generateTeams()"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <div *ngIf="errorMessage" class="error-msg">
      <p>{{ errorMessage }}</p>
    </div>
  </div>

  <div *ngIf="teams.length > 0" class="teams-container">
    <div *ngFor="let team of teams; let index = index">
      <h3>Team {{ index + 1 }}</h3>
      <ul class="teams-list">
        <li *ngFor="let member of team">{{ member | titlecase }}</li>
      </ul>
    </div>
    <button (click)="deleteTeams()" class="delete-teams-btn">
      Delete Teams
    </button>
  </div>
</div>
